# Django Key Gen:
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY=insert_django_key_here
DEBUG=False
ALLOWED_HOSTS=*

# Can generate key using the following command: ** may need to use - pip install cryptography **
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FIELD_ENCRYPTION_KEY=insert_key_here

COMPOSE_PROJECT_NAME=atom2
POSTGRES_DB=app_db
POSTGRES_USER=django-user
POSTGRES_PASSWORD=insert_postgres_password_here
POSTGRES_HOST=db
POSTGRES_PORT=5432